.container {
    width: 1025px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;


}
.hidden {
    display: none; 
}

#btn{
background-color: rgb(84, 132, 221);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px
}